<html>
    <head>
        <title>Luna The English Bulldog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Luna The English Bulldog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This would be the text of the first blog post</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This would be the text from the 2nd post</p>
        </div>
    </body>
</html>
